@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
body {
  font-family: "Montserrat", sans-serif !important;
  color: #414347 !important;
  background-color: #f5f5f5;
}

li {
  font-family: "Montserrat";
  font-size: 0.8em;
}

.body-login {
  background-color: #e5e5e5 !important;
}

/* Headerinhalte */

.navbar-edit {
  background-color: #ededed !important;
  height: 2.375em !important;
}

.navbar-brand {
  color: #414347 !important;
  font-weight: 600;
  font-size: 0.875em !important;
  left: 3em !important;
  position: absolute !important;
  border: none;
}

/*Suchleiste in Header */

.search {
  margin-left: 40% !important;
  position: absolute !important;
  top: 20% !important;
}

.div-search {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  display: inline-flex !important;

  border: 0.013em solid !important;
  border-color: rgba(100, 103, 108, 29%) !important;
  border-radius: 0.125em !important;
  width: 100%;
  background: #ffffff !important;
  height: 1.5em !important;
  width: 21.5em !important;
}

.button-search {
  width: 2em !important;
  border: none !important;
  background: none !important;
}

.search-icon {
  position: absolute !important;
  top: 20% !important;
  left: 3% !important;
  width: 0.8em !important;
  height: 0.8em !important;
}

.input-edit {
  position: absolute !important;
  top: 9% !important;
  left: 10% !important;
  padding-left: 0.5em !important;
  color: #414347 !important;
  font-size: 0.8em !important;
  border: none !important;
  width: 100%;
  background: none !important;
  height: 1.5em !important;
  width: 21.5em !important;
}

/*Logout Link in Header */

.div-close {
  display: inline-flex !important;

  margin-right: 0 !important;
  margin-left: auto !important;
  padding-right: 3em !important;
}

.close-icon {
  width: 0.9em !important;
  height: 0.9em !important;
}

.logout {
  color: #414347 !important;
  text-decoration: none !important;
  font-size: 0.75em !important;
  padding-left: 1em;
  border: none;
}

.logout > img {
  margin-right: 0.5em;
}

/* Seiteninhalte */

.container {
  padding-top: 5em !important;
}

/* Button für hinzufügen Rechnung generieren Projekt */

.div-btn-description {
  position: absolute !important;
  top: 8em !important;
  left: 50% !important;

  transform: translate(-50%, -50%) !important;

  text-align: center;
}

.button-add {
  width: 6.313em !important;
  height: 4.875em !important;
  color: #ededed !important;
  border-radius: 0.188em !important;

  border: 0.013em solid !important;
  border-color: rgba(237, 237, 237, 100%) !important;
}

.button-add:hover {
  width: 6.313em !important;
  height: 4.875em !important;
  color: #d2d2d2 !important;
  border-radius: 0.188em !important;

  border: 0.013em solid !important;
  border-color: rgba(237, 237, 237, 100%) !important;
}

/* Button für Projekt generieren */

.button-download {
  width: 6.313em !important;
  height: 4.875em !important;
  color: #ededed !important;
  border-radius: 0.188em !important;

  border: 0.013em solid !important;
  border-color: rgba(237, 237, 237, 100%) !important;
}

.button-download:hover {
  width: 6.313em !important;
  height: 4.875em !important;
  color: #d2d2d2 !important;
  border-radius: 0.188em !important;

  border: 0.013em solid !important;
  border-color: rgba(237, 237, 237, 100%) !important;
}

.plus-icon {
  width: 1.823em !important;
  height: 1.823em !important;
}

.button-text {
  font-size: 0.688em;
  padding-top: 1em !important;
}

/* Breadcrumbs Navigation */

.breadcrumb-item {
  color: #64676c !important;
  font-size: 0.75em !important;
}

.breadcrumb-item::before {
  color: #64676c !important;
  font-weight: 400 !important;
}

.breadcrumb-item.active {
  color: #414347 !important;
  font-weight: 600;
  font-size: 0.75em !important;
}

/* Ordnerstruktur Projekte */

.folder {
  padding-left: 0em !important;
  padding-top: 2em !important;
  list-style: none !important;
  display: flex !important;

  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.div-project {
  text-align: center !important;
  flex-basis: 30% !important;
}

.div-project > button {
  border: none;
  background-color: #ffffff00;
}

.folder-icon {
  width: 6.25em !important;
  height: 6.25em !important;
}

/* Rechnungen in IncoiceFolderView */

.doc-icon {
  width: 5em !important;
  height: 5em !important;
}

li.docName {
  padding-top: 0.7em;
}

/* ExelDatein in excFolderView*/

.exc-icon {
  width: 5em !important;
  height: 5em !important;
}

li.excName {
  padding-top: 0.7em;
}

/* Login Modal */

.modal-dialog {
  width: 200% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;

  transform: translate(-50%, -50%) !important;
  margin: auto auto !important;
}

.modal-edit {
  text-align: center !important;
  border-radius: 0.188em !important;
  border-color: #ededed !important;
  box-shadow: 0.188em 0.188em 0.188em rgba(0, 0, 0, 0.1);
}

.img-logo {
  width: 100% !important;
  height: auto !important;
}

.form-control {
  text-align: center !important;
  display: inline !important;
  border-radius: none !important;
}

.form-login-input {
  margin: 2em !important;
}

.btn {
  background-color: #0b43a4 !important;
  color: #ffffff !important;
  font-size: 0.875em !important;
  border-radius: 0.125em !important;
}

.btn-block {
  width: 31em !important;
  border: none;
  border-radius: 0.125em !important;
  cursor: pointer;
  text-align: center;
  margin-bottom: 3.5em;
}

/* Spinner in loading */

.spinner-edit {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  text-align: center !important;

  transform: translate(-50%, -50%);
}

.spinner-border {
  color: #0b43a4 !important;
  width: 15em !important;
  height: 15em !important;
}

.spinner-text {
  font-size: 0.75em !important;
  padding-top: 2em !important;
  position: absolute !important;
  text-align: center !important;

  top: 50% !important;
  left: 50% !important;

  transform: translate(-50%);
}

/* editInvoiceView */

.button-confirm-div {
  text-align: center;
  margin-top: 9em;
}

.button-confirm {
  width: 14.75em !important;
  height: 2.688em !important;

  border-radius: 0.188em !important;

  border: 0.013em solid !important;
  border-color: rgba(11, 67, 164, 100%) !important;

  color: #ffffff !important;
  font-size: 0.95em !important;
  background-color: #0b43a4 !important;
  margin: auto;
}

.container-edit {
  padding-top: 0 !important;
}
.section-datainfo {
  padding-top: 2em !important;
  display: inline-flex !important;
}

.first-section {
  display: block;
}

.second-section {
  display: block !important;
}

.third-section {
  /* display: block !important; */
  align-items: flex-start;
  /* margin-top: 3em; */
  /* margin-bottom: 2em !important; */
}

.form-group {
  float: left !important;
  margin-right: 2.2em !important;
  margin-left: 2.2em !important;
  margin-top: 1em !important;
}

.field__label {
  display: block !important;
  font-size: 0.8em !important;
  font-weight: 600;

  text-align: left !important;
}

.field__list {
  padding-left: 0 !important;
  list-style: none;
}

.field__input {
  display: block !important;

  margin-top: 1em !important;

  font-size: 0.75em !important;
  font-weight: 400 !important;
  text-align: center !important;

  border: none !important;
  background-color: #ededed !important;
  width: 12.5em !important;
  height: 2.5em !important;
}

.field__input__short {
  display: block !important;

  margin-top: 0.5em !important;

  font-size: 0.75em !important;
  font-weight: 400 !important;
  text-align: center !important;

  border: none !important;
  background-color: #ededed !important;
  width: 12em !important;
  height: 2.5em !important;
}

.field__input__long {
  display: block !important;

  margin-top: 1em !important;

  font-size: 0.75em !important;
  font-weight: 400 !important;
  text-align: center !important;

  border: none !important;
  background-color: #ededed !important;
  width: 25em !important;
  height: 2.5em !important;
}

/* warning modal */

.section-headline {
  margin-top: 2em !important;
  font-weight: 600;
}

.section-content {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.section-button {
  margin-bottom: 2em;
}

.btn-leaveSite {
  background-color: #ededed !important;
  color: #64676c !important;
  font-size: 0.875em !important;
  border-radius: 0.125em !important;
  margin-right: 1em;
}

.btn-cancle {
  margin-left: 1em;
  font-size: 0.875em;
}

/* Footer */

footer {
  position: absolute !important;
  top: 100% !important;
  left: 50% !important;

  transform: translate(-50%, -50%) !important;

  width: 100%;
  text-align: center;
}

.footer-a {
  color: #414347;
  margin: 3em !important;
  text-decoration: none;
}

footer {
  position: absolute !important;
  top: 90% !important;
  left: 50% !important;
  margin: auto;
  transform: translate(-50%, -50%) !important;

  width: 100%;
  text-align: center;
}

footer > a {
  color: #414347;
  padding: 3em !important;
  text-decoration: none;
}
